@model IEnumerable<Product>

<table class="table">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
            <td>
                <a href="@Url.Action("Edit", "Product", new { id = product.Id })">Edit</a> |
                <a href="@Url.Action("Delete", "Product", new { id = product.Id })">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>