@model IEnumerable<DaraCard>
<h1>Data Card</h1>
<form asp-controller="Admin" asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<div class="table-responsive">
    <table class="table table-bordered table-condensed table-scriped table-hover">
        <thead>
            <tr class="danger" style="color:#FFFFFF">
                <th>CardNumber</th>
                <th>CVV</th>
                <th>BeforeDate</th>
                <th>UserEmail</th>
                <th>Balance</th>
                <th>Action</th>
            </tr>
        </thead>
        @{
            foreach (var user in Model)
            {
                <tr style="color:#00FF00">
                    <td>@user.CardNumber</td>
                    <td>@user.CVV</td>
                    <td>@user.BeforeDate</td>
                    <td>@user.UserEmail</td>
                    <td>@user.Balance</td>
                    <td>
                    <a href="@Url.Action("Edit", "Product", new { Email = user.UserEmail})">Edit</a> |
                    <a href="@Url.Action("Delete", "Product", new { Email = user.UserEmail })">Delete</a>
                    <td>
                </tr>
            }
        }
    </table>
</div>